.song-select-box {
    position: absolute;
    background-color: azure;
    border: 5px solid;
    border-radius: 10%;
    border-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 400px;
    transform: translate(-50%, -50%);
}